#pip install -r requirements_reinstall.txt --upgrade --force-reinstall 
#    from tensorflow.compat.v2.experimental import dtensor as dtensor_api
#ImportError: cannot import name 'dtensor' from 'tensorflow.compat.v2.experimental'
#tensorflow and keras version incompatible error
#https://velog.io/@linky1584/ImportError-cannot-import-name-dtensor-from-tensorflow.compat.v2.experimental
keras==2.7.0
